* {
	margin: 0;
	padding: 0;
}
.hero,
footer,
header,
a {
	background-color: #1f2937;
	color: #f9faf8;
}
h1 {
	font-size: 24px;
}
a {
	text-decoration: none;
	color: #e5e7eb;
}
li {
	list-style-type: none;
	color: #e5e7eb;
}
.header {
	display: flex;
	justify-content: space-between;
	padding: 15px 150px;
}
ul {
	display: flex;
	gap: 20px;
	padding: 0;
	align-items: center;
}

.quote {
	background-color: #e5e7eb;
}

.signup {
	background-color: #3882f6;
	color: #f9faf8;
}

.maintxt {
	font-size: 48px;
	font-weight: bolder;
}

.subtxt {
	font-size: 18px;
	color: #e5e7eb;
}

header,
.hero,
.mid1,
footer {
	padding: 0 150px;
}

.left {
	display: flex;
	flex-direction: column;
}
.hero {
	display: flex;
	justify-content: space-between;
	padding-top: 100px;
	padding-bottom: 100px;
	align-content: center;
	gap: 40px;
}

.left a {
	display: flex;
	align-self: flex-start;
	background-color: #3882f6;
	color: #f9faf8;
	padding: 5px 30px;
	padding-bottom: 10px;
	border-radius: 10px;
	box-shadow: none;
	align-content: center;
	margin-top: 20px;
	font-weight: bold;
	font-size: 18px;
}

.hero .left,
.hero > .image {
	flex-basis: 50%;
}

.image {
	background-color: #6b6e73;
	text-align: center;
	justify-content: center;
	align-content: center;
}

.mid1 > p {
	font-size: 36px;
	font-weight: 800;
	color: #1f2937;
	text-align: center;
	margin-top: 50px;
}

.cards {
	display: flex;
	flex-direction: column;
}

#cards {
	display: flex;
	justify-content: center;
	gap: 60px;
	margin-top: 50px;
}
.card {
	width: 200px;
	height: 200px;
	border: #3882f6 solid 5px;
	border-radius: 20px;
	flex-shrink: 0;
}

.description {
	display: flex;
	flex-direction: row;
	gap: 60px;
	justify-content: center;
}
.description p {
	width: 200px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 150px;
	flex-shrink: 0;
}

.quote {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.quote1 {
	font-size: 36px;
	font-style: italic;
	color: #1f2937;
	padding: 100px 200px 0;
}
.quote2 {
	text-align: end;
	padding: 0 200px 100px;
	font-weight: bolder;
	font-size: 25px;
}

footer {
	text-align: center;
	padding: 20px;
}

.signup {
	display: flex;
	justify-content: space-around;
	padding: 30px;
	margin: 100px 150px;
	border-radius: 10px;
}
.signup a {
	border: white solid;
	border-radius: 10px;
	background-color: #3882f6;
	color: #f9faf8;
	padding: 5px 30px;
	font-weight: bold;
	align-content: center;
}

.bold {
	font-weight: bolder;
	font-size: x-large;
}
